body {
	background: rgb(73, 124, 131);
	
}
.center p {
	color: white;
	font-size: 24px;
	font-family: Lucida Console;
	font-variant: small-caps;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
mark {
	background-color: white;
	color: white;
	font-size: 24px;
	font-family: Lucida Console;
	font-variant: small-caps;
	position: absolute;
}
@keyframes blink {
	0% {opacity: 0;}
	100% {opacity: 1;}
	}

.blinking-text {
	animation: blink 1s infinite; 
	}
