body {
	background: rgb(73, 124, 131);
	
}
.title {
	text-align: center;
	color: white;
}

.blink {
    background-color: white;
	width: 3px;
    -webkit-animation: blink 800ms step-end infinite;
            animation: blink 800ms step-end infinite;
}
@-webkit-keyframes blink { 50% { background-color: transparent; }}
        @keyframes blink { 50% { background-color: transparent; }}