body {
        margin: 0;
        background-image: url(./bg.jpg);
        background-attachment: fixed;
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: #245B78;
        color: #EEEEEE;
        font-family: Arial, Helvetica, sans-serif;
        overflow: hidden;
}
h2 {
    text-align: center;
}
.topnav {
    overflow: hidden;
    background-color: #171E23;
    position: static;
}
.topnav img {
    float: left;
    margin-right: 20px;
}
.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {
    background-color: #90B7C7;
    color: black;
}
.topnav a.active {
    background-color: #245B78;
    color: black;
}
.topnav .search-container {
    float: right;
}
.topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.topnav .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.topnav .search-container button:hover {
    background: #bdbdbd;
}
#clear {
    border-radius: 3px;
}
.main {
    background-color: rgba(23, 30, 35, 55%);
    float: left;
    position: absolute;
    top: 35%;
    width: 63%;
    border: 1px solid;
    border-radius: 5px;
    margin: 20px;
    padding: 10px;
}
.search-result{
    background-color: rgba(23, 30, 35, 55%);
    position: inline;
    float: right;
    width: 30%;
    max-height: 75vh;
    border: 1px solid;
    border-radius: 5px;
    margin: 20px;
    padding: 10px;
    overflow: auto;
    display: inherit;
}
.btn {
    justify-self: center;
    justify-content: center;
}
.btn button{
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}
.btn button:hover {
    background: #bdbdbd;
}
.socials {
    position: fixed;
    bottom: 20px;
    width: 40%;
    left: 50%;
    transform: translateX(-50%);
    justify-items: center;
}
.socials img {
    margin-right: 20px;
}
.contact-form {
    justify-items: center;
    border: 1px solid;
    border-radius: 5px;
    width: 60%;
    margin: auto;
    top: 50%;
    transform: translateY(50%);
    background-color: rgba(23, 30, 35, 55%);
}
.form {
    display: grid;
}
.form button {
    margin-bottom: 10px;
    width: auto;
    border-radius: 5px;
}
.form input[type=text] {
    width: 12cm;
    margin: 0;
    color: #EEEEEE;
    border: none;
    border-bottom: 1px solid #90B7C7;
    background-color: #102938;
}
.form input[type=email] {
    width: 12cm;
    margin: 0;
    color: #EEEEEE;
    border: none;
    border-bottom: 1px solid #90B7C7;
    background-color: #102938;
}
.form textarea {
    resize: none;
    width: 12cm;
    margin: 0;
    color: #EEEEEE;
    border: none;
    border-bottom: 1px solid #90B7C7;
    background-color: #102938;
}
.about {
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    background-color: rgba(23, 30, 35, 55%);
    border: 1px solid;
    border-radius: 5px;
    width: 60%;
    padding: 10px;
}
.team {
    margin-right: 20px;
    margin-left: auto;
    margin-top: 20px;
    background-color: rgba(23, 30, 35, 55%);
    border: 1px solid;
    border-radius: 5px;
    width: 30%;
    padding: 10px;
}
.team img {
    float:left;
    border: 3px solid;
    border-radius: 10px;
    margin-right: 35px;
}
.team fieldset {
    border-radius: 5px;
}
.team ul {
    list-style-type:square;
}